* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.App {
    display: flex;
    height: 100vh;
    gap: 30px;
    overflow: hidden;
}

.nav-bar {
    min-width: 258px;
    width: auto;
    background-color: #FFFFFF;
    box-shadow: 20px 0 20px rgba(93, 0, 93, 0.15);
    position: relative;
    z-index: 100;
    overflow-y: auto;
    overflow-x: visible;
    height: 100vh;
    flex-shrink: 0;
}

.nav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    height: 100%;
}

.logo {
    margin-top: 38px;
    margin-left: 29px;
    display: block;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.second-logo {
    max-width: 254px;
    height: auto;
    max-height: 234px;
    object-fit: contain;
}

.nav-bar ul {
    padding-top: 50px;
    width: 100%;
}

.nav-bar ul li {
    flex: 1 0 0;
    position: relative;
    padding: 25px 0 25px 25px;
    color: #4d4d4d;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
    cursor: pointer;
}

.nav-bar ul li:hover {
    color: rebeccapurple;
}

.nav-bar ul li.active {
    color: #4B2E83;
    font-weight: bold;
}

.nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    flex-shrink: 0;
    stroke: #5b5b5b;
    transition: stroke 0.2s ease;
}

.nav-bar ul li:hover .nav-icon {
    stroke: rebeccapurple;
}

hr {
    min-width: 200px;
    width: calc(100% - 50px);
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #C4C4C4;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.visual-container {
    display: grid;
    gap: 30px;
    width: 100%;
    padding: 30px 30px 30px 0;
    overflow-y: auto;
    flex-grow: 1;
    grid-template-columns: 2fr 1fr;
    max-height: 100vh;
}

.visual-generator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 400px;
    width: auto;
    grid-column: span 2;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    background-color: #FFFFFF;
    box-shadow: 20px 20px 20px rgba(93, 0, 93, 0.15);
    padding: 20px;
}

.visual-generator h2 {
    color: #333333;
    font-family: "Montserrat";
    font-weight: 500;
}

.visualization-dropdown {
    width: auto;
    max-width: 300px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(93, 0, 93, 0.1);
    font-family: "Montserrat";
    font-size: 20px;
    padding-left: 10px;
    color: #4d4d4d;
    position: relative;
}

.visualization-dropdown::after {
    content: '▼';
    padding-left: 20px;
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #8c8c8c;
    pointer-events: none;
}

.visualization-dropdown::-ms-expand {
    display: none;
}

.visualization-prompt {
    width: auto;
    padding: 15px;
    font-size: 16px;
    color: #4d4d4d;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(93, 0, 93, 0.1);
    background-color: #FFFFFF;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    height: 190px;
}

.visualization-prompt:focus {
    border-color: rebeccapurple;
    box-shadow: 0px 0px 5px rgba(93, 0, 93, 0.2);
    outline: none;
}

.visual-buttons-container {
    display: flex;
    gap: 20px;
}

.yar-button-group {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(50, 0, 110, 0.5), 0 0 10px rgba(50, 0, 110, 0.4);
    }
    50% {
        box-shadow: 0 0 8px rgba(50, 0, 110, 0.7), 0 0 15px rgba(50, 0, 110, 0.5);
    }
    100% {
        box-shadow: 0 0 5px rgba(50, 0, 110, 0.5), 0 0 10px rgba(50, 0, 110, 0.4);
    }
}

.cancelButton, .yar-button-cancel, .yar-button-secondary {
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #4B2E83;
    font-family: "Encode Sans";
    color: #495057;
    background-color: #FFFFFF;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.generateButton, .yar-button-primary, .yar-button-next {
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    width: 100px;
    font-family: "Montserrat";
    background-color: #32006E;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.cancelButton:hover,
.generateButton:hover,
.yar-button-cancel:hover,
.yar-button-primary:hover,
.yar-button-secondary:hover,
.yar-button-next:hover {
    animation: glow 2s infinite alternate;
}

.username {
    width: 100%;
    grid-column: span 2;
    background-color: #FFFFFF;
    font-family: "Encode Sans";
    color: #4B2E83;
}

.visual-section {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: auto;
    min-height: 400px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #f3f3f3;
    box-shadow: 20px 20px 20px rgba(93, 0, 93, 0.15);
    overflow: hidden;
    padding-bottom: 20px;
}

.publication-distribution {
    flex-direction: column;
    display: flex;
    height: auto;
    min-height: 400px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #f1efef;
    background-color: #FFFFFF;
    box-shadow: 20px 20px 20px rgba(93, 0, 93, 0.15);
    overflow: hidden;
    padding-bottom: 20px;
}

.visual-section h2, .publication-distribution h2 {
    margin-top: 30px;
    text-align: center;
    color: #495057;
    font-family: "Montserrat";
    font-weight: 700;
}

.image-container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.visual-section img,
.publication-distribution img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.yar-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 30px 30px 30px 0;
    overflow-y: auto;
    max-height: 100vh;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.yar-start-button {
    background-color: #32006E;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 20px 20px 20px rgba(93, 0, 93, 0.15);
}

.yar-start-button h2 {
    color: white;
    margin: 0;
    font-size: 24px;
}

.yar-start-button .arrow {
    color: white;
    font-size: 30px;
}

.yar-archive-container {
    padding:  30px;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    background-color: #FFFFFF;
    box-shadow: 20px 20px 20px rgba(93, 0, 93, 0.15);
    width: 100%;
    box-sizing: border-box;
}

.yar-archive-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 500;
}

.yar-archive-item {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.yar-archive-item svg {
    margin-right: 10px;
}

.yar-form-container {
    padding: 20px 40px;
}

.yar-title {
    color: #4B2E83;
    font-family: "Encode Sans";
}

.yar-form-wrapper {
    max-width: 600px;
}

.yar-form-group {
    margin-bottom: 20px;
}

.yar-form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    font-family: "Encode Sans";
}

#netId, #fullName {
    box-shadow: 8px 8px 8px rgba(93, 0, 93, 0.15);
    border: 1px solid rgba(171, 171, 171, 0.25);
    outline: none;
}

.yar-form-input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
}

.teaching-container {
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 100vh;
}

.teaching-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.teaching-header h1 {
    color: #4B2E83;
    margin: 0;
    font-family: "Encode Sans";
}

.teaching-breadcrumb {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.teaching-breadcrumb .inactive {
    color: #888;
    margin-right: 7px;
    font-family: "Encode Sans";
}

.teaching-breadcrumb .separator {
    margin: 0 7px;
    font-family: "Encode Sans";
}

.teaching-breadcrumb .active {
    font-weight: bold;
    margin-left: 7px;
    font-family: "Encode Sans";
}

.course-card {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid #eee;
    box-shadow: 20px 20px 20px rgba(93, 0, 93, 0.15);
}

.course-title {
    margin: 0 0 15px 0;
    color: #333;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}

.course-field {
    margin-bottom: 10px;
}

.course-label {
    display: block;
    margin-bottom: 5px;
    color: #595959;
}

.course-value {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.course-radio-group {
    margin-bottom: 15px;
}

.course-radio-question {
    margin-bottom: 10px;
    color: #666;
}

.course-radio-options {
    display: flex;
    gap: 15px;
}

.course-radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.course-radio {
    margin-right: 5px;
}

.course-notes {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
    background-color: #f9f9f9;
}

.course-form-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.course-form-textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    resize: vertical;
}

.add-course-button {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-course-button svg {
    margin-right: 10px;
}

.outside-dept-question {
    margin-bottom: 20px;
}

.outside-dept-label {
    margin-bottom: 10px;
    color: #333;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.required-indicator {
    color: red;
    margin-left: 5px;
}

.navigation-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.teaching-container:after,
.yar-container:after {
    content: "";
    display: block;

}